Hello <%= @user.username%>,<br>
<br>Welcome to the RoadMojo family. Your registration is now complete.<br>
<br>Please verify your email address by clicking the link below:<br>
<br><%= link_to "Confirm my account", @user.confirm_email_link %><br>
<br>After verifying your email, ​you can:<br>
<br>- Add your road trips, the one you did last week and the one from your school days. Once published, don't forget to share it on your social networks.<br>
<br>- Follow places and people that inspire you and you will see road trips that you like on your feed.<br>
<br>.. and many other things.<br>
<br>Log in using your registered Email address and Password. Use Forgot Password to create a new password.<br>
<br>Remember, we are always an email away at support@roadmojo.com.<br>
<br>Thank you,
<br>Team Roadmojo<br>
<br>This email was sent to <%= @user.email%> because this address was used to create an account on RoadMojo. If this is a mistake, please email us at support@roadmojo.com.<br>