Hi <%= @user.name || @user.username %>,
<br/><br/>
Your Temporary password is <%= @user.reset_code %><br/><br/>
You can change your password by using the Edit Profile option on your "Me" page.<br/>
<br/><br/>
Thanks.
<br/>
Roadmojo
