<!doctype html>
<html>
<head>
  <title>Roadmojo</title>
</head>
<body style="margin: 0; padding: 0;border: 0; font-size: 100%; vertical-align: baseline; background-color:#efefef;">

  <div style="margin: 0; padding: 0;border: 0; font-size: 100%; vertical-align: baseline; width: 510px; margin: 0 auto; font-family:Arial, Helvetica, sans-serif;">
    <img src="<%= BaseApiUrl+'/logo_1.jpg' %>" alt="RoadMojo" style="padding: 0;border: 0; font-size: 100%; vertical-align: baseline;width: 193px; height: 40px; margin-top: 40px; margin-bottom: 10px;">

    <div style="margin: 0; padding: 0;border: 1px solid #9b9b9b; font-size: 100%; vertical-align: baseline; border-radius: 15px; width: 100%;background-color:white;">

      <div style="margin: 0; padding: 0;border: 0; font-size: 100%; vertical-align: baseline; width: 100%;">
        <p style="margin: 0;border: 0; vertical-align: baseline;padding: 50px 35px 50px 35px; font-size: 26px; color: #6e6e6e;">
          Ahoy Roadtripper!
        </p>
        <p style="margin: 0;border: 0; vertical-align: baseline;padding: 0px 35px 50px 35px; font-size: 22px; color: #6e6e6e;">
          <% case @notification.action_type %>
            <% when "Comment" %>
              <span style="text-decoration: none; color:#00ac66;margin: 0; padding: 0;border: 0; font-size: 100%; vertical-align: baseline;">
                  <strong><%= @actor.name || @actor.username %></strong>
                </span>
                commented on your Trip 
                <a href="<%= @trip.trip_url %>" style="text-decoration: none; color:#00ac66;margin: 0; padding: 0;border: 0; font-size: 100%; vertical-align: baseline;">
                  <strong><%= @trip.title %></strong>
                </a>
            <% when "Like" %>
              <span style="text-decoration: none; color:#00ac66;margin: 0; padding: 0;border: 0; font-size: 100%; vertical-align: baseline;">
                <strong><%= @actor.name || @actor.username %></strong>
              </span>
              likes your Trip
              <a href="<%= @trip.trip_url %>" style="text-decoration: none; color:#00ac66;margin: 0; padding: 0;border: 0; font-size: 100%; vertical-align: baseline;">
                <strong><%= @trip.title %></strong>
              </a>
            <% when "Relationship" %>
              <span style="text-decoration: none; color:#00ac66;margin: 0; padding: 0;border: 0; font-size: 100%; vertical-align: baseline;">
                <strong><%= @actor.name || @actor.username %></strong>
              </span>
              followed you on
              <a href="http://www.roadmojo.com" style="text-decoration: none; color:#00ac66;margin: 0; padding: 0;border: 0; font-size: 100%; vertical-align: baseline;"><strong>RoadMojo</strong></a>
          <% end %>
        </p>
      </div>
      <div style="margin:0; padding: 0;border: 0; font-size: 100%; vertical-align: baseline; height:100px;width: 100%; border-radius: 0px 0px 15px 15px;
      background-color:rgb(215, 215, 215)">
        <p style="border: 0;margin:0px; vertical-align: baseline;font-size: 15px; margin-left: 35px; padding-top: 20px; line-height: 24px; color: #3a3a3a;">
          Enjoy,
          <br>
          <span style="margin: 0; padding: 0;border: 0; font-size: 100%; vertical-align: baseline;">The RoadMojo Team</span>
        </p>
      </div>
    </div>
    <a href="http://www.roadmojo.com" style="padding: 0;border: 0; vertical-align: baseline;float: right; text-decoration: none;color: #9b9b9b; font-size: 12px; margin-top: 15px;">www.roadmojo.com</a>
    <p style="padding: 0;border: 0;vertical-align: baseline;font-size: 12px; color: #9b9b9b; margin-top: 15px;">copyright &copy; 2014 roadmojo</p>
  </div>
</body>
</html>