 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div id="fb-root"></div> <!-- Needed for facebook to function properly. See facebook sdk for more info. -->

<div id="results"></div>

<p id="connect">
  <a class="signin" href="#">Signin</a>

</p>

<script type="text/javascript">

  window.fbAsyncInit = function() {
    FB.init({
      appId  : '660712930715759',
      status : true, // check login status
      cookie : true, // enable cookies to allow the server to access the session      
    });
  };

  (function(d) {
    var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/en_US/all.js";
    d.getElementsByTagName('head')[0].appendChild(js);
  }(document));

  $(function() {
    $('#connect .signin').click(function(e) {
      e.preventDefault();

      FB.login(function(response) {
        if (response.authResponse) {
          $('#results').html('Connected! Hitting OmniAuth callback (GET users/auth/facebook/callback)...');
          var cookie_name = "fbsr_660712930715759";

          var match = document.cookie.match(new RegExp(cookie_name + '=([^;]+)'));
          if(match == null) {
            document.cookie = cookie_name + "=" + response.authResponse.signedRequest;
          }

          // since we have cookies enabled, this request will allow omniauth to parse
          // out the auth code from the signed request in the fbsr_XXX cookie
          $.ajax({
                    type: "GET",
                    async: true,
                    jsonp: "callback",                    
                    dataType: "jsonp",
                    url: "/users/auth/facebook/callback",
                    success: function(data, textStatus, jqXHR) {                        
                        // utilities.cookies.setItem("auth_token", data["auth_token"], 31536e3, "/");
                        // signin.saveDataInLocalStorage(data);
                        window.location.href = "html/feed.html";
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log("unable to fblogin the user " + errorThrown);
                    }
                });
        }
      }, { scope: 'email' }); // These are the permissions you are requesting
    });

    $('#connect .signout').click(function(e) {
      e.preventDefault();
      $.getJSON('/auth/facebook/signout', function(json) {
        $('#results').html(JSON.stringify(json));
      });
    });

  });

</script>