 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 <script src="https://apis.google.com/js/client.js"></script>
 
<p id="connect">
  <a class="signin" href="#">Signin</a>

</p>
<script type="text/javascript">


	
    
   $(function() {
   $('.signin').click(function(e) {
  	console.log("dsdsds")
    	e.preventDefault();
    	$.ajax({
                    type: "GET",
                    async: true,                    
                    jsonp: "callback",                    
                    dataType: "jsonp",
                    url:  "/users/auth/google_oauth2",
                    success: function(data, textStatus, jqXHR) {                        
                        utilities.cookies.setItem("auth_token", data["auth_token"], 31536e3, "/");
                        signin.saveDataInLocalStorage(data);
                        window.location.href = "html/feed.html";
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log("unable to fblogin the user " + errorThrown);
                    }
                });
    
  });
 });  



  
</script>    