<h1> RM Data</h1>
	
<table>

	<tr>
	    <td><b>Total Users</b></td>
	    <td><%= @users.count %></td>
	</tr>
	<tr>
	    <td><b>Total Trips</b></td>
	    <td><%= @trips.count %></td>
	</tr>
	<tr>
	    <td><b>Total Published Trips</b></td>
	    <td><%= @trips.published.count %></td>
	</tr>
</table>

<h2> User email list </h2>
<table>
	<tr>
		<th> Email </th>
		<th> Created at </th>
	</tr>
	
	<% @users.each do |user| %>
	<tr>
		<td><%= user.email %></td>
		<td><%= user.created_at.strftime("%d %B, %Y") %></td>
	</tr>
	<% end %>
</table>
